<!DOCTYPE html>
<html dir="ltr" ng-app="lifescriptApp" ng-csp>
	<head>
		<meta charset="UTF-8">
		<title>Lifescript Feed</title>
		<link rel="stylesheet" type="text/css" href="angular-csp.css" />
		<link rel="stylesheet" type="text/css" href="lifescriptRss.css" />
		<script type="text/javascript" src="lib/jsapi.js"></script>
	</head>
	<body id="bodyId" ng-controller="mainController as mainCtrl" ng-cloak>	
		<div class="clearfix tools-container">
			 <div id="faqsImgId" class="pull-right settingImg" ng-click="mainCtrl.openFaqs()">
				<span class="glyphicon glyphicon-question-sign"></span>
			</div>
			<div id="settingImgId" class="pull-right settingImg" ng-click="mainCtrl.openSettings()">
				<span class="glyphicon glyphicon-wrench"></span>
			</div>
		</div>
		<tabset>
			<tab heading="RSS Feed">
				<rss-directive></rss-directive>
			</tab>
			<tab heading="Burn It Off">
				<burn-it-off-directive></burn-it-off-directive>
			</tab>
			<tab heading="Health Calculator">
				<total-health-directive></total-health-directive>
			</tab>
			<tab heading="Newsletters">
				<unsubscribe-directive></unsubscribe-directive>
			</tab>
		</tabset>
		<social-directive></social-directive>
		
		<script type="text/javascript" src="lib/angular.js"></script>
		<script type="text/javascript" src="lib/angular-sanitize.js"></script>
		<script type="text/javascript" src="lib/ui-bootstrap.js"></script>
		<script type="text/javascript" src="js/app.js"></script>
		<script type="text/javascript" src="js/services/lifescriptService.js"></script>
		<script type="text/javascript" src="js/services/feedService.js"></script>
		<script type="text/javascript" src="js/directives/rssFeedDirective.js"></script>
		<script type="text/javascript" src="js/directives/socialDirective.js"></script>
		<script type="text/javascript" src="js/directives/totalHealthDirective.js"></script>
		<script type="text/javascript" src="js/directives/burnItOffDirective.js"></script>
		<script type="text/javascript" src="js/directives/unsubscribeDirective.js"></script>
	</body>
</html>