<div ng-form="burnItOffForm" novalidate ng-cloak>
	<div ng-cloak id="lifescriptBurnItOffFoodContainer" class="clearfix tools-container">
		<span class="text-right burn-it-off-span">Select Food: </span>
		<select class="burn-it-off-dropdown" name="burnItOffFood" ng-model="burnIt.selectedFood" ng-options="food.name for food in burnIt.burnitoff.foods" required></select>
		<span ng-show="burnItOffForm.burnItOffFood.$dirty && burnItOffForm.burnItOffFood.$invalid">
			<span ng-show="burnItOffForm.burnItOffFood.$error.required">Please choose a food.</span>
		</span>
	</div>
	<div ng-cloak id="lifescriptBurnItOffExerciseContainer" class="clearfix" style="width: 600px;">
		<span class="text-right burn-it-off-span">Select Exercise: </span>
		<select class="burn-it-off-dropdown" name="burnItOffExercise" ng-model="burnIt.selectedExercise" ng-options="exercise.name for exercise in burnIt.burnitoff.exercises" required></select>
		<span ng-show="burnItOffForm.burnItOffExercise.$dirty && burnItOffForm.burnItOffExercise.$invalid">
			<span ng-show="burnItOffForm.burnItOffExercise.$error.required">Please choose an exercise.</span>
		</span>
	</div>
	<div ng-cloak id="lifescriptBurnItOffExerciseTypeContainer" class="clearfix" style="width: 600px;">
		<span class="text-right burn-it-off-span">Select Exercise Type: </span>
		<select class="burn-it-off-dropdown" name="burnItOffExerciseType" ng-model="burnIt.selectedExerciseType" ng-options="exerciseType.name for exerciseType in filtered = (burnIt.burnitoff.exercise_types | foodExerciseFilter:burnIt.selectedExercise)" required></select>
		<span ng-show="burnItOffForm.burnItOffExerciseType.$dirty && burnItOffForm.burnItOffExerciseType.$invalid">
			<span ng-show="burnItOffForm.burnItOffExerciseType.$error.required">Please choose an exercise type.</span>
		</span>
	</div>
	<div ng-cloak id="lifescriptBurnItOffWeight" class="clearfix" style="width: 600px;" >
		<span class="text-right burn-it-off-span">Weight: </span>
		<input type="text" ng-model="burnIt.selectedWeight" name="burnItOffWeight" required />
		<span ng-show="burnItOffForm.burnItOffWeight.$dirty && burnItOffForm.burnItOffWeight.$invalid">
			<span ng-show="burnItOffForm.burnItOffWeight.$error.required">Please enter in a weight.</span>
		</span>
	</div>
	<div class="burn-it-off-btn-container">
		<button id="burnItOffBtn" class="burn-it-off-btn" ng-click="burnIt.burnItOffCalc()" ng-disabled="burnItOffForm.$invalid">Burn It!</button>
	</div>
	
	<div class="burn-it-off-error-result">
		<div class="clearfix tools-results" ng-show="burnIt.minutesToBurnOffFood != null">
			{{burnIt.minutesToBurnOffFood}}
		</div>
	</div>
</div>