<div id="social-media-links" class="pull-right lifescript-social">
	<div class="lifescript-facebook" ng-click="social.openSocial('https://www.facebook.com/lifescript.health')"></div>
	<div class="lifescript-twitter" ng-click="social.openSocial('http://twitter.com/#!/Lifescript')"></div>
	<div class="lifescript-pinterest" ng-click="social.openSocial('http://www.pinterest.com/lifescript')"></div>
	<div class="lifescript-google-plus" ng-click="social.openSocial('https://plus.google.com/105012185945365180977')"></a></div>
	<div class="lifescript-youtube" ng-click="social.openSocial('http://www.youtube.com/user/lifescripttv')"></a></div>
	<div class="lifescript-ig" ng-click="social.openSocial('http://instagram.com/lifescript')"></a></div>
	<div class="lifescript-blog" ng-click="social.openSocial('http://healthbistro.lifescript.com/')"></a></div>
</div>